@model loginRegistration.Models.RegUser
<a asp-controller ="Login" asp-action="Login">Already registered? Sign in here.</a>
<h1>Register</h1>
<form class="form-group" asp-controller="Login" asp-action="signUp" method="post">
    <span asp-validation-for="name"></span>
    <br>
    <label>Name:</label>
    <input class="form-control" asp-for="name">
    <br>

    <span asp-validation-for="email"></span>
    <br>
    <label>Email:</label>
    <input class="form-control" asp-for="email">
    <br>

    <span asp-validation-for="password"></span>
    <br>
    <label>Password:</label>
    <input class="form-control" asp-for="password">
    <br>

    <span asp-validation-for="confirmPassword"></span>
    <br>
    <label>Confirm Password:</label>
    <input class="form-control" asp-for="confirmPassword">
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>